a {
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

header {
    background-color: rgb(255, 199, 210);
}


/* .row{
    display: inline-flex;
} */

.align-between {
    display: flex;
    justify-content: space-between;
}

.align-center {
    display: flex;
    justify-content: center;
}


/* MENU */

.top-menu {
    list-style: none;
}

.top-menu li {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
}

.top-menu .sub-menu {
    list-style: none;
    display: none;
    position: absolute;
    z-index: 1000;
}

.top-menu li:hover>.sub-menu {
    display: block;
    background-color: rgb(255, 182, 169);
    padding: 10px 0;
    width: 150px;
}

.sub-menu a:hover {
    background-color: rgb(234, 234, 234);
}


/* SLIDE */

.slide-box {
    width: 65%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.slideshow {
    display: flex;
}

.slide {
    /* flex: 0 0 100%; */
    box-sizing: border-box;
}

.slide img {
    display: block;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background: rgba(0, 0, 0, 0.8);
}


/* ITEM */

.item-name {
    color: rgb(164, 64, 129);
}

.item2 img {
    width: 200px;
    height: 200px;
}

.page1 {
    width: 40%;
    background-color: rgb(255, 182, 169);
}

.page1 .banner img {
    width: 100%;
    height: 200px;
}

.page1 .product-box {
    display: block;
    align-items: center;
}

.product-side {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.product-box {
    display: block;
    width: 24%;
    align-items: center;
}

.product-box img {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.mini-icon img {
    width: 20px;
    height: 20px;
}